{% extends 'base.html' %}

{% block title %}{{ 'Editar' if despesa.iddespesa else 'Nova' }} despesa{% endblock %}

{% block content %}
<div class="content-box form-container">
    <h2>{{ 'Editar' if despesa.iddespesa else 'Novo' }} Despesa</h2>
    <form action="{{ url_for('bpDespesa.salvar') }}" method="post">
        <input type="hidden" name="iddespesa" value="{{ iddespesa or '' }}">

        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" id="descricao" name="descricao" value="{{ despesa.descricao or '' }}" required>
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="number" id="valor" name="valor" value="{{ despesa.valor or '' }}" required>
        </div>
        <div class="form-group">
            <label for="data">Data</label>
            <input type="date" id="data" name="data" value="{{ despesa.data or '' }}">
        </div>

        <div class="form-actions">
            <button type="submit" class="button save-button">Salvar</button>
            <a href="{{ url_for('bpDespesa.lista', idveiculo=idplaca)}}" class="button cancel-button">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
